<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 120px; border-radius: 8px;">
    <ion-card-header>
      <ion-avatar style="display: block; margin-left: auto; margin-right: auto;">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <!-- <div style="width: 100%; border-top: 1px solid #d4d4d4; margin: 8px 0;"></div> -->
      <ion-card-title style="text-align: center;">User Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form style="padding: 7px;">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input placeholder="Hlalele Maroba"></ion-input>
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="=email" placeholder="Enter email address"></ion-input>
        </ion-item>
        <ion-item fill="solid" style="margin-top: 6px;">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Enter pssword"></ion-input>
        </ion-item>
        <ion-button expand="block" style="margin-top: 10px; height: 45px; margin-left: 10px; margin-right: 10px;">Logout</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
