<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Book</ion-title>
    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon style="font-size: 40px;" name="chevron-back-outline" routerLink="/tabs/tab"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title style="text-align: center; margin-top: 10px;">Book</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "apform" (ngSubmit)="submitForm()">
    <ion-title color="danger" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Add Appointment</ion-title>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required  formControlName="name"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl['name'].errors?.['required']">
      Name is required
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required formControlName="surname"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl['surname'].errors?.['required']">
      Surname is required
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl['email'].errors?.['required']">
      Email address is required
    </span>
    <!-- <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.email">
      Email address is not valid
    </span> -->

    <ion-item lines="full">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" required formControlName="phone"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl['phone'].errors?.['required']">
      Phone number is required
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl['phone'].errors?.['minlength']">
      Phone number is 8 digits
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Date</ion-label>
      <ion-input type="date" required formControlName="date"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl['date'].errors?.['required']">
      Date is required
    </span>


    <ion-row>
      <ion-col>
        <ion-button type="submit"
        style="margin-top: 10px; height: 45px; margin-left: 10px; margin-right: 10px;"
        expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
 </ion-content>
