<ion-header>
  <ion-toolbar>
    <ion-title>DashBoard</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tab4">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Bookings Registered
    </ion-list-header>

    <ion-item *ngFor="let ap of appointments" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{ap.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{ap.phone}}
        </p>
        <p>
          <ion-icon name="mail"></ion-icon> {{ap.email}}
        </p>
        <p>
          <ion-icon name="calendar"></ion-icon> {{ap.date}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear>
          <ion-icon name="create" style="zoom:2.0" [routerLink]="['/tabs/tab3', ap.id]"></ion-icon>
        </button>
        <button ion-button clear (click)="remove(ap.id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
