<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/page1">
        <ion-icon slot="start" name="man" color="danger"></ion-icon>
        <ion-label>Menu One</ion-label>
    </ion-item>
    <ion-item routerLink="/page2">
        <ion-icon slot="start" name="book" color="danger"></ion-icon>
        <ion-label>Menu Two</ion-label>
    </ion-item>
    <ion-item routerLink="/page3">
        <ion-icon slot="start" name="heart" color="danger"></ion-icon>
        <ion-label>Menu Three</ion-label>
    </ion-item>
</ion-list>
</ion-content>
