<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-title style="margin-top: 50px; text-align: center; font-weight: 500; margin-bottom: 20px;">
    Create Account</ion-title>
    <form style="padding: 7px;" [formGroup]="loginform" (ngSubmit)="register()">
    <ion-item style="margin-top: 6px;">
      <ion-label position="floating">First Name</ion-label>
      <ion-input placeholder="Enter First name" formControlName="name"></ion-input>
    </ion-item>
    <span
    class="error2"
    *ngIf="isSubmitted && errorControl['name'].errors?.['required']"
  >
    First name is required
  </span>
    <ion-item style="margin-top: 6px;">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input placeholder="Enter Last name" formControlName="lastname"></ion-input>
    </ion-item>
    <span
    class="error2"
    *ngIf="isSubmitted && errorControl['lastname'].errors?.['required']"
  >
    Last name is required
  </span>
    <ion-item style="margin-top: 6px;">
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-input type="date" placeholder="Enter date of birth" formControlName="date"></ion-input>
    </ion-item>
    <span
    class="error2"
    *ngIf="isSubmitted && errorControl['date'].errors?.['required']"
  >
    Date of birth is required
  </span>
    <ion-item style="margin-top: 6px;">
      <ion-label position="floating">Physical Address</ion-label>
      <ion-input placeholder="Enter address here" formControlName="address"></ion-input>
    </ion-item>
    <span
    class="error2"
    *ngIf="isSubmitted && errorControl['address'].errors?.['required']"
  >
    Physical address is required
  </span>
    <ion-item style="margin-top: 6px;">
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="email" placeholder="Enter email address" formControlName="email"></ion-input>
    </ion-item>
    <span
    class="error2"
    *ngIf="isSubmitted && errorControl['email'].errors?.['required']"
  >
    Email address is required
  </span>
  <span
    class="error2"
    *ngIf="isSubmitted && errorControl['email'].errors?.['pattern']"
  >
    Valid Email address is required
  </span>
    <ion-item style="margin-top: 6px;">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="Enter passord" formControlName="password"></ion-input>
    </ion-item>
    <span
    class="error2"
    *ngIf="isSubmitted && errorControl['password'].errors?.['required']"
  >
    Password is required
  </span>
  <span
    class="error2"
    *ngIf="isSubmitted && errorControl['password'].errors?.['minlength']"
  >
    Password should be atleast 8 characters
  </span>
  <!-- <span
  class="error2"
  *ngIf="isSubmitted && errorControl['password'].errors?.['pattern']"
>
  Password must contain at least one number, one uppercase and a lowercase letter
  and at least 8 characters<br>Password cannot contain whitespace
</span> -->
    <ion-button expand="block"
    (click)="showLoading()"
    type="submit"
     style="margin-top: 10px; height: 45px; margin-left: 10px; margin-right: 10px;"
     >Sign UP</ion-button>
  </form>

</ion-content>
